.inputsContainer {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
  max-width: 60rem;
  padding: 1rem;
  flex-grow: 1;
  &.small {
    padding-top: 0rem;
    padding-bottom: 0rem;
  }
  &.medium {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  &.large {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}
