.base {
  text-align: center;
  margin-bottom: 0rem;
  margin-top: 0rem;
  font-size: 1.125rem;
  font-weight: 500;
  font-variation-settings: "wght" 525;
  &.h1 {
    font-size: 2rem;
  }
  &.h2 {
    font-size: 1.5rem;
  }
  &.h3 {
    font-size: 1.25rem;
  }
  &.h4 {
    font-size: 1.125rem;
  }
  &.h5 {
    font-size: 1rem;
  }
}
