.DialogTitle {
  position: absolute;
  top: 0;
  position: sticky;
  margin: 0;
  border-bottom: 1px solid var(--gray-2);
  box-shadow: 0px 0px 20px rgb(249, 249, 249);
  text-align: center;
  padding: 1rem;
  background: white;
  z-index: 1;
  font-variation-settings: "wght" 550;
  display: grid;
  grid-template-columns: 2rem 1fr 2rem;
  grid-template-areas: "gap title close";
  text-transform: lowercase;
  font-variant: small-caps;
  font-size: 1.25rem;
  letter-spacing: 2px;
  place-items: center;
  margin-bottom: 0rem;
  width: 100%;
  .title {
    grid-area: title;
  }
}

.DialogOverlay {
  background-color: var(--black-a1);
  position: fixed;
  inset: 0;
  align-items: center;
  justify-content: center;
  /* animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1); */
  overflow-y: hidden;
  background: rgba(0 0 0 / 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  height: 100dvh;
  align-items: center;
}

.DialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  width: 100%;
  flex-grow: 1;
  max-width: 600px;
  // max-height: clamp(800px, 100vh, 1000px);
  max-height: 90vh;
  overflow: scroll;
  height: auto;
  box-sizing: border-box;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  background: white;
  border-radius: 4px;
  position: relative;
}

/* // if screen height is less than 600px */
@media (max-height: calc(680px + 1rem)) {
  .DialogOverlay {
    overflow-y: auto;
    align-items: flex-start;
    background-color: white;
  }
  .DialogContent {
    /* min-height: calc(100% - 2rem); */
    align-self: flex-start;
    overflow: auto;
    max-height: unset;
    display: contents;
    box-shadow: none;
  }
}

.close {
  grid-area: close;
  top: 0;
  right: 0;
}
